<h2>We played paper!</h2>
<h2>They played <%= @their_play %>!</h2>

<% if @their_play == "paper" %>
  <% @outcome = "tied" %>
<% elsif @their_play == "rock" %>
  <% @outcome = "won" %>
<% else %>
  <% @outcome = "lost" %>
<% end %>

<h2>We <%= @outcome %>!</h2>
